.category {
  width: 100%;
}

.catDetails {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding-left: 24px;
}

.view {
  padding-right: 24px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  white-space: nowrap;
}

.view > a {
  font-size: 10px;
  color: #c98686;
  text-decoration: none;
}

.catTitle {
  width: 100%;
}

.catTitle > h1 {
  height: 22px;
  font-size: 16px;
  color: #c98686;
  text-align: left;
}

.catTitle > h1:hover {
  color: #c98686;
}

.cardContainer {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
