.card {
  margin: 24px;
  height: 212px;
  width: 212px;
  background-color: blueviolet;
  flex-shrink: 0;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}

.drink {
  position: absolute;
  display: flex;
  align-items: center;
  height: 44px;
  width: 100%;
  background: rgba(150, 107, 157, 0.8);
  bottom: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.drink > h1 {
  margin: auto;
  font-size: 16px;
  text-align: center;
  color: #fff4ec;
}

.heart-container {
  position: relative;
  width: 26px;
  height: 26px;
  float: right;
  margin-right: 2%;
  top: 12px;
  background: rgba(150, 107, 157, 0.8);
  border-radius: 20px;
}

.heart {
  position: absolute;
  left: 12.52%;
  right: 12.58%;
  top: 14.14%;
  bottom: 14.15%;
  margin: auto;
  height: 11.98px;
  width: 11.98px;
}

.heart-filler {
  position: absolute;
  height: 6px;
  width: 6px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .card {
    flex-shrink: 1;
  }
}
