.cocktail-image-details {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 0;
}

.navigation-top-buttons {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 16px;
  box-sizing: border-box;
}

.cocktail-image-details > img {
  width: 100%;
}

.buttonElement {
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  background: rgba(150, 107, 157, 0.8);
  border-radius: 20px;
}

.buttonElement > img {
  width: 22px;
  height: auto;
}
