.details-options-container {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.navigation-btn {
  margin: 2%;
  cursor: pointer;
}

.navigation-btn > div {
  font-size: 10px;
  color: #fff4ec;
}
