.options-background {
  top: -48px;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  width: 315px;
  height: 100vh;
  background: #fff4ec;
  z-index: 1;
  right: 0;
  top: 0px;
  transition: all 0.3s ease-out;
  pointer-events: all;
}

.opt {
  height: 40%;
  margin-top: 30%;
}

.opt > a {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  float: right;
  font-size: 24px;
  color: #c98686;
  opacity: 0.65;
  margin-right: 24px;
  text-decoration: none;
}

.close {
  float: right;
  margin-top: 24px;
  margin-right: 24px;
}

.copyright {
  width: 315px;
  position: fixed;
  bottom: 24px;
}
.copyright-image {
  display: flex;
  justify-content: center;
}
.options-background.hide-options {
  background-color: transparent;
}

.hide-options .overlay {
  transform: translateX(100vw);
}
